body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f0f0f0; */
    background-image: url('../static/woh.png');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.container form input,
.container form select,
.container form button {
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
}

.container form input:focus,
.container form select:focus,
.container form button:focus {
    outline: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.container form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.container form button:hover {
    background-color: #0056b3;
}

.container p {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: calc(100% - 20px);
    box-sizing: border-box;
    text-align: center; 
    line-height: 1;
}

.btn:hover {
    background-color: #0056b3;
}

.home-link {
    position: fixed;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.home-link i {
    margin-right: 5px;
}

.error {
    color: red;
}
